<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hantek_UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hantek_UI.Settings>
            <setting name="HasBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Precision" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WindowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>R2W</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="UnitColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="ModeColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI Semibold, 18pt, style=Bold</value>
            </setting>
        </Hantek_UI.Settings>
    </userSettings>
</configuration>